@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, 
body {
       margin: 0;
        padding: 0;
        box-sizing: border-box;
         font-family: "Roboto", sans-serif;
         body{
            background-color: gainsboro;
         }
}
ul{
    list-style-type: none;
}
main{
    margin:1rem;
    display: grid;
    grid-template-columns: 33%  1fr;
    grid-gap: 1rem;
   filter: drop-shadow(0 0 0.4rem black);
}
.personal, .Skills, .language{
    padding: 1rem;
line-height: 2;
}


.left{
    background-color: white;
}


.left-image{
    position: relative; 
      width: 400px;
}.left-image {
    position: relative;
    width: 100%;
}

.left-image img {
    width: 100%;
    display: block;
}
.left-image{
    width: 100%;
}
.left-image img{
    width: 100%;
    display: block;
}
.left-image h2{
    position: absolute;
bottom:0 ;
left: 1rem;   
color: rgb(241, 241, 241);
}
.currnet{
    background-color: rgb(95, 154, 237);
    color: white;
    padding: 0.4rem;
    border-radius: 3px;
}
.experience , .education{
    line-height: 2 ;
    padding: 2rem 0;

}
.right {
    background-color: white;
    padding: 1rem;
}
.date {
    color: rgb(95, 154, 237);
}
footer{
    background-color:green ;
    padding: 2rem 0;
    text-align: center;
 color: white;
    line-height: 1.5;
}
i {
    color: green;
}
footer i{
    color: white;
    font-size: 2rem;
    margin: 0 0.5rem;
}